


<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar navbar-brand">Car Market</a>
            </div>
                <ul class="nav navbar-nav">
                    <li><a>Home</a></li>
                    <li><a>About Us</a></li>
                    <li><a>Car Inventory</a></li>
                    <li><a>Contact Us</a></li>
                </ul>
                
        </div>
    </nav>   
</div>

<div><h1>Hello {{titleFirstComponent}}!!! This is the first message coming from the first component</h1></div>
<div><cars-component></cars-component></div>

